## Numbers

The interpreter acts as a simple calculator: you can type an expression at it and it will write the value. 
Expression syntax is straightforward: the operators +, -, * and / work just like in most other languages 
(for example, Pascal or C); parentheses (()) can be used for grouping. For example:

In [1]:
2+2

4

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [4]:
8 / 5  # division always returns a floating point number

1.6

The integer numbers (e.g. 2, 4, 20) have type `int`, the ones with a fractional part (e.g. 5.0, 1.6) have type `float`.

In [6]:
17 // 3  # floor division discards the fractional part

5

In [7]:
17 % 3  # the % operator returns the remainder of the division

2

With Python, it is possible to use the `**` operator to calculate powers

In [8]:
5 ** 2  # 5 squared

25

In [9]:
2 ** 7  # 2 to the power of 7

128

The equal sign (`=`) is used to assign a value to a variable. Afterwards, no result is displayed before the next interactive prompt:

In [10]:
width = 20
height = 5 * 9
width * height

900

If a variable is not “defined” (assigned a value), trying to use it will give you an error:

In [11]:
variable_not_exists # try to access an undefined variable

NameError: name 'variable_not_exists' is not defined

In interactive mode, the last printed expression is assigned to the variable `_`. This means that when you are using Python as a desk calculator, it is somewhat easier to continue calculations, for example:

In [12]:
tax = 12.5 / 100
price = 100.50
price * tax # Result is 12.5625
price + _   # Result is 113.0625
round(_, 2)

900

This variable should be treated as read-only by the user. Don’t explicitly assign a value to it `_` you would create an independent local variable with the same name masking the built-in variable with its magic behavior.

# Strings
Besides numbers, Python can also manipulate strings, which can be expressed in several ways. They can be enclosed in single quotes ('...') or double quotes ("...") with the same result 

`\` can be used to escape quotes:

In [13]:
'spam eggs'  # single quotes

'spam eggs'

In [14]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [15]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [16]:
'"Yes," they said.'

'"Yes," they said.'

In [17]:
"\"Yes,\" they said."

'"Yes," they said.'

In [18]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

The `print()` function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters:

In [19]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [20]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [21]:
s = 'First line.\nSecond line.'  # \n means newline

In [22]:
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [23]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

If you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an `r` before the first quote:

In [24]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [25]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

String literals can span multiple lines. One way is using triple-quotes: """...""" or '''...'''. End of lines are automatically included in the string, but it’s possible to prevent this by adding a \ at the end of the line. The following example:

In [26]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

Strings can be concatenated (glued together) with the `+` operator, and repeated with `*`:

In [27]:
3 * 'un' + 'ium'

'unununium'

In [28]:
'Py' 'thon' # Two or more string literals next to each other are automatically concatenated.

'Python'

In [29]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
print(text)

Put several strings within parentheses to have them joined together.

In [30]:
prefix = 'Py'
refix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-30-7c051b293f22>, line 2)

In [31]:
prefix = 'Py'
prefix + 'thon' # If you want to concatenate variables or a variable and a literal, use +

'Python'

Strings can be indexed (subscripted), with the first character having index `0`. There is no separate character type; a character is simply a string of size one:

In [32]:
word = 'Python'
word[0]  # character in position 0

'P'

In [33]:
word[-1]  # last character

'n'

In [34]:
word[-2]  # second-last character

'o'

Note that since -0 is the same as 0, negative indices start from -1.

In [35]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [36]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

Note how the start is always included, and the end always excluded. This makes sure that `s[:i] + s[i:]` is always equal to s:

In [37]:
word[:2] + word[2:]

'Python'

In [38]:
word[:4] + word[4:]

'Python'

In [39]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [40]:
word[4:]   # characters from position 4 (included) to the end

'on'

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

In [41]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

In [42]:
word[4:42] # out of range slice indexes are handled gracefully when used for slicing

'on'

The built-in function `len()` returns the length of a string:

In [43]:
len(word)

6

# Lists
Python knows a number of compound data types, used to group together other values. The most versatile is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [44]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

Like `strings` (and all other built-in sequence types), `lists` can be indexed and sliced:

In [45]:
squares[0]  # indexing returns the item

1

In [46]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [47]:
squares + [36, 49, 64, 81, 100]  # Lists also support operations like concatenation

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content:

In [48]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here\
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

You can also add new items at the end of the list, by using the `append()` method:

In [49]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [50]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [51]:
letters[2:5] = ['C', 'D', 'E']  # replace some values
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [52]:
letters[2:5] = [] # now remove them
letters

['a', 'b', 'f', 'g']

In [53]:
letters[:] = [] # clear the list
letters

[]

In [54]:
# It is possible to nest lists (create lists containing other lists), for example:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x[0]

['a', 'b', 'c']

In [55]:
x[0][1]

'b'

In [56]:
# Fibonacci series:
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [57]:
a, b = 0, 1
while a < 20:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,